<style>
    html, body { height: 100%; margin: 0; display: flex; justify-content:
    center; align-items: center; } .container { display: flex; flex: 1;
    flex-direction: column; justify-content: center; align-items: center;
    flex-wrap: wrap; gap: 25px; } h1 { color: #fd4755; font-size: xx-large; }
</style>
<div class="container">
    <img
        src="https://res.cloudinary.com/trendsetter/image/upload/v1750750832/cancelled_x5c9oq.png"
    />
    <h1>Transaction Canceled</h1>
</div>